<p-toolbar class="w-full fixed top-0">
  <ng-template #start>
    <div class="flex items-center gap-8 px-4">
      <p-button (click)="visible = true" icon="pi pi-bars" [rounded]="true" [text]="true"
      severity="secondary"/>
      <p-iconfield iconPosition="left">
        <p-inputicon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="Search" />
    </p-iconfield>
    </div>
  </ng-template>
  <ng-template #end>
    <p-button icon="pi pi-moon" [rounded]="true" [text]="true"
      severity="secondary"
      (click)="toggleDarkMode()"></p-button>
    <p-button icon="pi pi-ellipsis-v" [rounded]="true" [text]="true"
      severity="secondary"
    (click)="menu.toggle($event)"></p-button>
    <div class="card">
      <p-menu [model]="items" class="flex justify-center" styleClass="w-full md:w-60"
      [popup]="true" #menu>
          <ng-template #submenuheader let-item>
              <span class="text-primary font-bold">{{ item.label }}</span>
          </ng-template>
          <ng-template #item let-item>
              <a pRipple class="flex items-center p-menu-item-link">
                  <span [class]="item.icon"></span>
                  <span class="ml-2">{{ item.label }}</span>
                  @if (item.badge) {
                    <p-badge class="ml-auto" [value]="item.badge" />
                  }
              </a>
          </ng-template>

          <ng-template #end>
              <button pRipple
              class="relative overflow-hidden
              w-full border-0 bg-transparent
              flex items-start p-2 pl-4
              hover:bg-surface-100 dark:hover:bg-surface-800
              rounded-none cursor-pointer
              transition-colors duration-200">
                  <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" class="mr-2" shape="circle" />
                  <span class="inline-flex flex-col">
                      <span class="font-bold">Amy Elsner</span>
                      <span class="text-sm">Admin</span>
                  </span>
              </button>
          </ng-template>
      </p-menu>
  </div>
  </ng-template>
</p-toolbar>
<p-drawer #drawerRef [(visible)]="visible">
  <ng-template #headless>
      <div class="flex flex-col h-full">
          <div class="flex items-center justify-between px-6 pt-4 shrink-0">
            <span class="inline-flex items-center gap-2">
              <img src="./img/logo-dulcemania.png" class="w-16">
              <h1 class="font-bold text-2xl">Dulcemania</h1>
            </span>
            <span>
                <p-button type="button"
                (click)="closeCallback($event)"
                icon="pi pi-times"
                [rounded]="true"
                [outlined]="true"
                [text]="true"
                styleClass="h-8 w-8">
              </p-button>
            </span>
          </div>
          <div class="overflow-y-auto">
              <ul class="list-none p-4 m-0">
                  <li>
                      <div
                          pRipple
                          pStyleClass="@next"
                          enterFromClass="hidden"
                          enterActiveClass="animate-slidedown"
                          leaveToClass="hidden"
                          leaveActiveClass="animate-slideup"
                          class="p-4 flex items-center justify-between text-surface-600 dark:text-surface-200 cursor-pointer p-ripple"
                      >
                          <span class="font-medium">FAVORITES</span>
                          <i class="pi pi-chevron-down"></i>
                      </div>
                      <ul class="list-none p-0 m-0 overflow-hidden">
                          <li>
                              <a pRipple class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                  <i class="pi pi-home mr-2"></i>
                                  <span class="font-medium">Dashboard</span>
                              </a>
                          </li>
                          <li>
                              <a pRipple class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                  <i class="pi pi-bookmark mr-2"></i>
                                  <span class="font-medium">Bookmarks</span>
                              </a>
                          </li>
                          <li>
                              <a
                                  pRipple
                                  pStyleClass="@next"
                                  enterFromClass="hidden"
                                  enterActiveClass="animate-slidedown"
                                  leaveToClass="hidden"
                                  leaveActiveClass="animate-slideup"
                                  class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                              >
                                  <i class="pi pi-chart-line mr-2"></i>
                                  <span class="font-medium">Reports</span>
                                  <i class="pi pi-chevron-down ml-auto"></i>
                              </a>
                              <ul class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out">
                                  <li>
                                      <a
                                          pRipple
                                          pStyleClass="@next"
                                          enterFromClass="hidden"
                                          enterActiveClass="animate-slidedown"
                                          leaveToClass="hidden"
                                          leaveActiveClass="animate-slideup"
                                          class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
                                      >
                                          <i class="pi pi-chart-line mr-2"></i>
                                          <span class="font-medium">Revenue</span>
                                          <i class="pi pi-chevron-down ml-auto"></i>
                                      </a>
                                      <ul class="list-none py-0 pl-4 pr-0 m-0 hidden overflow-y-hidden transition-all duration-[400ms] ease-in-out">
                                          <li>
                                              <a pRipple class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                                  <i class="pi pi-table mr-2"></i>
                                                  <span class="font-medium">View</span>
                                              </a>
                                          </li>
                                          <li>
                                              <a pRipple class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                                  <i class="pi pi-search mr-2"></i>
                                                  <span class="font-medium">Search</span>
                                              </a>
                                          </li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a pRipple class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                          <i class="pi pi-chart-line mr-2"></i>
                                          <span class="font-medium">Expenses</span>
                                      </a>
                                  </li>
                              </ul>
                          </li>
                          <li>
                              <a pRipple class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                  <i class="pi pi-users mr-2"></i>
                                  <span class="font-medium">Team</span>
                              </a>
                          </li>
                          <li>
                              <a pRipple class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                  <i class="pi pi-comments mr-2"></i>
                                  <span class="font-medium">Messages</span>
                                  <span class="inline-flex items-center justify-center ml-auto bg-primary text-primary-contrast rounded-full" style="min-width: 1.5rem; height: 1.5rem">3</span>
                              </a>
                          </li>
                          <li>
                              <a pRipple class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                  <i class="pi pi-calendar mr-2"></i>
                                  <span class="font-medium">Calendar</span>
                              </a>
                          </li>
                          <li>
                              <a pRipple class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                  <i class="pi pi-cog mr-2"></i>
                                  <span class="font-medium">Settings</span>
                              </a>
                          </li>
                      </ul>
                  </li>
              </ul>
              <ul class="list-none p-4 m-0">
                  <li>
                      <div
                          pRipple
                          pStyleClass="@next"
                          enterFromClass="hidden"
                          enterActiveClass="animate-slidedown"
                          leaveToClass="hidden"
                          leaveActiveClass="animate-slideup"
                          class="p-4 flex items-center justify-between text-surface-600 dark:text-surface-200 cursor-pointer p-ripple"
                      >
                          <span class="font-medium">APPLICATION</span>
                          <i class="pi pi-chevron-down"></i>
                      </div>
                      <ul class="list-none p-0 m-0 overflow-hidden">
                          <li>
                              <a pRipple class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                  <i class="pi pi-folder mr-2"></i>
                                  <span class="font-medium">Projects</span>
                              </a>
                          </li>
                          <li>
                              <a pRipple class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                  <i class="pi pi-chart-bar mr-2"></i>
                                  <span class="font-medium">Performance</span>
                              </a>
                          </li>
                          <li>
                              <a pRipple class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
                                  <i class="pi pi-cog mr-2"></i>
                                  <span class="font-medium">Settings</span>
                              </a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
  </ng-template>
</p-drawer>
